body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url('/dnd-back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
  color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  width: 600px;
}

img{
  width: 100px;
  height: 100px;
}

.bgInput {
  margin: 5px;
  height: 10vh;
  width: 30vw;
  font-size: 14px;
}

.textbox {
  width: 20vw;
  height: 4vh;
  font-size: 14px;
  margin: 5px;
}

.creator {
  height: 80vh;
  padding: 10px;
}

.identity, .selectors{
  display: flex;
}

.background {
  width: 80vw;
}
