body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url('/dnd-back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
  color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  width: 600px;
  height: 100%;
}

img{
  width: 50px;
  height: 50px;
}

/* ############# */
/* Form */
.bgInput {
  margin: 5px;
  height: 10vh;
  width: 30vw;
  font-size: 14px;
}

select {
  width: 20vw;
  height: 5vh;
  margin: 5px;
  font-size: 14px;
}

button {
  height: 40px;
  padding: 10px;
  margin: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color: darkred;
  color: whitesmoke;
  border-radius: 5px;
  border: none;
}

.textbox {
  width: 20vw;
  height: 4vh;
  font-size: 14px;
  margin: 5px;
}

.creator {
  height: 85vh;
  padding: 10px;
  margin-bottom: 20px;
}

.identity, .selectors{
  display: flex;
}

.background {
  width: 80vw;
}

.dicetray {
  width: 20vw;
  background-color: red;
}


/* ############# */
/* Character Sheet */
#sheet {
  width: 60vw;
  margin: auto;
  margin-top: 30px;
  color: black;
  background-color: ivory;
  padding: 20px;
}

#sheet-body {
  display: flex;
  flex-wrap: wrap;
  /* align-content: flex-start; */
}

/* ############# */
/* Identity Component */
.identity-comp {
  display: flex;
  width: 98%;
  padding: 5px;
  margin: 5px;
  border: solid 1px black;
}

#charName {
  padding: 5px;
  width: 800px;
  font-size: 20px;
  margin: 10px;
  border: solid 1px black;
}

#identity-group {
  width: 600px;
}

#id-group-element {
  width: 200px;
}

/* ############# */
/* Attributes */

#attributes {
  display: flex;
  width: 250px;
  flex-wrap: wrap;
  align-content: flex-start;
}

#ability-scores {
  border: solid 1px black;
  width: 70px;
  height: 80px;
  margin: 5px;
  margin-bottom: 8px;
  text-align: center;
}

#long-list {
  margin: 2px;
  font-size: 14px;
}

#saving-throw {
  border: solid 1px black;
  width: 120px;
  height: 140px;
  margin: 5px;
  padding: 10px;
}

#skills {
  border: solid 1px black;
  width: 120px;
  margin: 5px;
  padding: 10px;
}

h3 {
  font-size: 12px;
  margin: 0;
}

h6 {
  margin: 4px;
  font-size: 8px;
}

/* ############# */
/* stats group*/
#stats-group {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgrey;
  margin-top: 5px;
  margin-right: 5px;
  padding: 10px;
}

#stats-group-box1 {
  border: solid 1px black;
  width: 70px;
  height: 70px;
  margin: 5px;
  background-color: ivory;
}
#stats-group-box2 {
  border: solid 1px black;
  width: 235px;
  height: 80px;
  margin-bottom: 5px;
  margin-left: 5px;
  background-color: ivory;
}
#stats-group-box3 {
  border: solid 1px black;
  width: 111px;
  height: 60px;
  margin: 5px;
  background-color: ivory;
}

#attacks {
  border: solid 1px black;
  width: 250px;
  height: 180px;
  margin-top: 10px;
  padding: 10px;
}

/* ############# */
/* Background */
#background {
  width: 300px;
  height: 425px;
  margin: 5px;
  padding: 12px;
  background-color: lightgrey;
}

#bg-box {
  border: solid 1px black;
  width: 290px;
  height: 90px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: ivory;
}

/* ############# */
/* Equipment */
#equipment {
  border: solid 1px black;
  height: 220px;
  width: 250px;
  margin-top: 10px;
  margin-left: 20px;
  padding: 10px;
}

#prof-lang {
  border: solid 1px black;
  width: 230px;
  height: 200px;
}
#pass-wis {
  border: solid 1px black;
  width: 230px;
  height: 30px;
  margin-top: 4px;
  margin-bottom: 10px;
}

#feature {
  border: solid 1px black;
  height: 220px;
  width: 300px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
}
